# macOS system files
.DS_Store

# Compiled object files
*.o
*.out
*.exe
*.a
*.so

# Build folders
build/
bin/
obj/

# Editor settings
.vscode/

# Temporary files
*.log
*.tmp
*.bak
*~

# Git
!.gitignore
